<div
    class="container d-flex justify-content-between align-items-center text-center border border-4 border-success rounded p-2"
>
    <h3 class="m-0 ps-2 py-3 fs-5">List name</h3>
    <div
        class="d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center text-lg-center gap-lg-3"
    >
        <p class="m-0">Qt: <b>2</b> KG</p>
        <p class="m-0">Expiring in <b>1</b> Weeks</p>
    </div>
    <button type="button" class="btn btn-light">
        <span class="material-symbols-outlined lg-24"> delete </span>
    </button>
</div>
