<style src="style.css"></style>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid justify-content-between gap-2">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><b>WasteNot</b></a>
        <a href="#" class="link-dark text-center d-block d-lg-none" style="width: 73px"
            ><span class="material-symbols-outlined md-36"> settings </span></a
        >
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav gap-2">
                <a class="nav-link active navbarLink" aria-current="page" href="/main.html">Home</a>
                <a class="nav-link active navbarLink" href="about.html">Help</a>
                <a class="nav-link active navbarLink" href="/account.html">Profile</a>
                <button
                    type="button"
                    class="nav-link link-danger active navbarLink text-start"
                    onclick="firebase.auth().signOut()"
                >
                    Log Out
                </button>
            </div>
        </div>
        <a href="/settings.html" class="link-dark text-center d-none d-lg-block" style="width: 73px"
            ><span class="material-symbols-outlined md-36"> settings </span></a
        >
    </div>
</nav>
