<style src="style.css"></style>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><b>WasteNot</b></a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link navbarLink" aria-current="page" href="/index.html">Home</a>
                <a class="nav-link navbarLink" href="#">About us</a>
                <a class="nav-link btn btn-outline-success" href="/login.html">Log In</a>
                <a class="nav-link btn btn-outline-success" href="/signup.html">Sign Up</a>
            </div>
        </div>
    </div>
</nav>
