<footer
    class="text-white w-100 d-flex flex-row justify-content-evenly align-items-center gap-5"
    id="indexFooter"
>
    <div class="basis-1/2 d-flex flex-column gap-2">
        <h3>WasteNot</h3>
        <p class="m-0">Reducing your food waste.</p>
        <p class="m-0">Saving you money.</p>
        <p class="m-0">Helping you eat better.</p>
    </div>
    <div class="basis-1/2 d-flex flex-column gap-2">
        <h3>About</h3>
        <a href="#" class="d-block">Waste Tracking</a>
        <a href="#" class="d-block">Our mission</a>
        <a href="#" class="d-block">Meet the team</a>
    </div>
    <!-- <div class="basis-1/3">
        <h3>Navigation</h3>
        <a href="#" class="d-block">Grocery List</a>
        <a href="#" class="d-block">Recipes</a>
        <a href="#" class="d-block">Create a Recipe</a>
    </div> -->
</footer>
