<style>
    .icons:hover {
        color: darkgray;
    }
</style>

<div
    class="d-flex d-lg-none flex-row justify-content-evenly align-items-center fixed-bottom bg-secondary-subtle p-2"
>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <a
            class="d-flex align-items-center justify-content-center link-dark link-underline-opacity-0"
            href="../groceryList.html"
        >
            <span class="material-symbols-outlined md-36 icons"> kitchen </span>
        </a>
        <a href="../groceryList.html" class="link-body-emphasis link-underline-opacity-0"
            >Grocery List</a
        >
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <a
            class="d-flex align-items-center justify-content-center link-dark link-underline-opacity-0"
            href="../addGrocery.html"
        >
            <span class="material-symbols-outlined md-36 icons"> add_circle </span>
        </a>
        <a href="../addGrocery.html" class="link-body-emphasis link-underline-opacity-0"
            >Add Groceries</a
        >
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <a
            class="d-flex align-items-center justify-content-center link-dark link-underline-opacity-0"
            href="/recipes"
        >
            <span class="material-symbols-outlined md-36 icons">library_books</span>
        </a>
        <a href="/recipes" class="link-body-emphasis link-underline-opacity-0">Recipes</a>
    </div>
</div>
