.navbarLink:hover {
    background-color: lightgray !important;
}

.material-symbols-outlined.md-18 {
    font-size: 18px;
}

.material-symbols-outlined.md-24 {
    font-size: 24px;
}

.material-symbols-outlined.md-36 {
    font-size: 36px;
}

.material-symbols-outlined.md-48 {
    font-size: 48px;
}

#itemInformation #itemName {
    width: 45% !important;
}

#itemInformation #information {
    width: 55% !important;
}

#itemInformation #information #quantityDiv {
    width: 40% !important;
}

/* #indexFooter li {
    list-style-type: none;
    text-decoration: none;
    color: lightgrey; 
    text-align:center;
} */

#indexFooter a {
    text-decoration: underline;
    color: white;
}

#indexFooter a:hover {
    color: grey;
}

/* #indexFooter h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
} */

footer#footer {
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
}

.header-link {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.header-link:hover {
    background-color: lightgray;
}

.icon {
    text-decoration: none;
    color: black;
    border-radius: 25px;
    width: 48px;
    height: 48px;
}

.icon:hover {
    background-color: lightgray;
}

@media (max-width: 768px) {
    /* #footer {
        display: flex;
        flex-direction: column;
    } */
}

.hidden {
    display: none !important;
}

.centered-image {
    object-fit: cover;
    object-position: center;
}
