
#navbarNavAltMarkup a:hover {
    background-color: lightgray !important;
}

.material-symbols-outlined.md-18 {
    font-size: 18px;
}

.material-symbols-outlined.md-24 {
    font-size: 24px;
}

.material-symbols-outlined.md-36 {
    font-size: 36px;
}

.material-symbols-outlined.md-48 {
    font-size: 48px;
}

#indexFooter li {
    list-style-type: none;
    text-decoration: none;
    color: lightgrey; 
    text-align:center;
}

#indexFooter a {
    text-decoration: none;
    color: lightgrey;
    display: inline-block; 
    text-align: center;
}

#indexFooter a:hover {
    text-decoration: none;
    color: grey;
}

#indexFooter h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #footer {
        display: flex;
        flex-direction: column;
    }
}
